<.flash_group flash={@flash} />

<h1 class="text-brand mt-10 flex items-center text-sm font-semibold leading-6">
  Testing
</h1>
<p class="mt-4 text-base leading-7 text-zinc-600">
  Estoy probando cosillas
</p>
